html{
    font-size: 62.5%;
    max-width: 400px;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font: 300 11px/1.4 'Trajan', 'sans-serif';
    color: #FFFFFF;
    background: #000000;
    overflow: hidden;
    display: block;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
}
